
<ul class="social_footer">
        {% if site.email %}
        <li class="email"><a href="mailto:{{site.email}}"><i class="mdx-sn-icon mdx_sn_email" title="邮箱"></i></a></li>
      {% else %}
<!--        <li class="email"><a href="mailto:example.adam@blog.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>-->
      {% endif %}

      {% if site.bilibili %}
        <li class="website"><a href="https://space.bilibili.com/{{site.bilibili}}" target="_blank"><i class="mdx-sn-icon mdx_sn_bilibili" title="哔哩哔哩"></i></a></li>
      {% else %}
      {% endif %}

      {% if site.twitter %}
        <li class="twitter"><a href="https://twitter.com/{{site.twitter}}" target="_blank"><i class="mdx-sn-icon mdx_sn_twitter" title="Twitter"></i></a></li>
      {% else %}
<!--        <li class="twitter"><a href="https://twitter.com/artemsheludko_" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>-->
      {% endif %}

      {% if site.facebook %}
        <li class="facebook"><a href="https://www.facebook.com/{{site.facebook}}" target="_blank"><i class="mdx-sn-icon mdx_sn_facebook" title="Facebook"></i></a></li>
      {% endif %}

      {% if site.website_github %}
        <li class="website"><a href="https://{{site.website_github}}" title="route-1"><i class="mdx-sn-icon mdx_sn_personalpage" title="站点一"></i></a></li>
      {% else %}
<!--        <li class="website"><a href="https://artemsheludko.github.io" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a></li>-->
      {% endif %}

      {% if site.website_gitee %}
        <li class="website"><a href="https://{{site.website_gitee}}" title="route-2"><i class="mdx-sn-icon mdx_sn_personalpage" title="站点二"></i></a></li>
      {% else %}
<!--        <li class="website"><a href="https://artemsheludko.github.io" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a></li>-->
      {% endif %}

      {% if site.website_vercel %}
        <li class="website"><a href="https://{{site.website_vercel}}" title="route-3"><i class="mdx-sn-icon mdx_sn_personalpage" title="站点三"></i></a></li>
      {% else %}
<!--        <li class="website"><a href="https://artemsheludko.github.io" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a></li>-->
      {% endif %}

<!--      {% if site.dockhub %}-->
<!--        <li class="website"><a href="https://hub.docker.com/u/{{site.dockhub}}" target="_blank"><i class="fa fa-cloud" aria-hidden="true"></i></a></li>-->
<!--      {% else %}-->
<!--      {% endif %}-->
</ul>
